

<h1>Acerca de</h1>
<hr>
<h4>Esta aplicación presta servicios en <mark>Node.js</mark> haciendo uso de una <mark>API Rest</mark>.
<br></br>
Las operaciones son efectuadas mediante funciones en <mark>C++</mark>.
<br></br>
Del lado del cliente se ocupó <mark>Angular.js</mark>.
<br></br>
Si se deseá hacer uso de la <mark>API Rest</mark> se deben consultar mediante el metodo <mark>GET</mark> las rutas definidas más abajo,
donde a y b son los números a operar y el resultado es devuelto en formato <mark>JSON</mark>.
</h4>
</br>
<h5>Para la suma: </h5>
<pre>
<samp>http://{{host}}:{{port}}/api/add/a/b/</samp>
</pre>
</br>
<h5>Para la resta: </h5>
<pre>
<samp>http://{{host}}:{{port}}/api/sub/a/b/</samp>
</pre>
</br>
<h5>Para la multiplicación: </h5>
<pre>
<samp>http://{{host}}:{{port}}/api/mul/a/b/</samp>
</pre>
</br>
<h5>Para la división: </h5>
<pre>
<samp>http://{{host}}:{{port}}/api/div/a/b/</samp>
</pre>
