<h1>Ejemplo de Operaciones matemáticas simples </h1>
<div class="container">
  <div class="form-inline">
    <input type="text" class="form-control" placeholder="número a" ng-model="a" required="true">
    <input type="text" class="form-control" placeholder="número b" ng-model="b" required="true">
  </div>
  <hr>
  <button type="button" class="btn btn-default" name="add" ng-click="add()">Sumar</button>
  <button type="button" class="btn btn-default" name="sub" ng-click="sub()">Restar</button>
  <button type="button" class="btn btn-default" name="mul" ng-click="mul()">Multiplicar</button>
  <button type="button" class="btn btn-default" name="div" ng-click="div()">Dividir</button>
  <hr>
  <h1>{{answer}}</h1>
</div>
